.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#developerswork{
  max-width: 100%;
  border-radius: 5%;
  padding : 2%;
  position: relative;
  text-align: center;
}

#developerswork>a>img {
  max-width: 100%;
  height: auto;
}

.brandLogo {
  animation: Brand-logo-spin infinite 15s linear;
  pointer-events: none;
  max-width: 15%;
  height: auto;
}

@keyframes Brand-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}